[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/uNetworking/uWebSockets
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libuv"]
	path = libuv
	url = https://github.com/libuv/libuv
